.regstr-submitBtn,
.regstr-loginBtn {
  margin: 5px;
}

.regstr-pageTitle {
  color: white;
}

.regstr-label {
  color: white;
}

.regstr-div {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  width: 100%;
}

.regstr-form {
  width: 50%;
  height: 50%;
}
