.regstr-submitBtn,
.regstr-loginBtn {
  margin: 5px;
}

.regstr-pageTitle {
  color: white;
}

.regstr-label {
  color: white;
}

.regstr-div {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  width: 100%;
}

.regstr-form {
  width: 50%;
  height: 50%;
}

.regstr-backToLogin {
  color: white;
}

.regstr-backToLogin:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
