.login-submitBtn,
.login-loginBtn {
  margin: 5px;
}

.login-pageTitle {
  color: white;
}

.login-label {
  color: white;
}

.login-div {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.login-form {
  width: 50%;
  height: 50%;
}
