.genreView-genreName {
  color: White;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.genreView-description {
  color: White;
  padding: 50px 0 50px 0;
  font-family: 'Lato', sans-serif;
}

.genreView-more {
  color: White;
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.genreView-movieCard {
  margin-top: 5%;
}
