a,
a:hover,
a:focus {
  text-decoration: none;
}

.main-cardContainer {
  justify-content: center;
}

.main-card {
  margin-bottom: 40px;
  transition: 0.5s;
  &:hover {
    opacity: 0.5;
    transition: 0.7s;
  }
}

.main-title {
  text-align: center;
  color: white;
}

body {
  background-color: #121212;
}

.nav-link {
  color: white;
  box-shadow: 0px 9px 5px -10px #6d6d6d;
  padding-bottom: 0;
}

.nav-link:hover {
  color: white;
  box-shadow: 0px 6px 4px -4px #6d6d6d;
  padding-bottom: 0;
}

.main-nav {
  margin-bottom: 20px;
}
