.movieView-poster {
  border-radius: 0.25rem;
  box-shadow: 9px 7px 12px 3px black;
  background-color: #161616;
  border: 1px solid #343a40;
  width: 500px;
}

.movieView-title {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: white;
}

.movieView-info {
  font-family: 'Lato', sans-serif;
  color: white;
}

.movieView-details {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
  font-family: 'Lato', sans-serif;
}

.movieView-details > *,
.movieView-directorBtn,
.movieView-genreBtn {
  padding: 8px 5px 8px 5px;
  margin: 0 5px 5px 0;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 5px 0px black;
  background-color: #161616;
  border: 1px solid #343a40;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.movieView-directorBtn:hover,
.movieView-genreBtn:hover {
  text-decoration: none;
}

.movieView-description {
  display: flex;
}

.movieView-description > * {
  height: fit-content;
  font-size: 20px;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 5px 0px black;
  background-color: #161616;
  border: 1px solid #343a40;
  margin: 0 1rem 3rem 1rem;
}
.movieView-description > .value {
  padding: 2rem;
}
.movieView-description > .label {
  padding: 0.8rem;
}

.label {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.btn-dark {
  box-shadow: 4px 4px 5px 0px black;
  background-color: #161616;
}

#favoriteBtn {
  display: flex;
  justify-content: space-between;
}
